.App {
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.book {
  width: 33%;
  padding: 10px 20px;
  border: 1px solid black;
  margin-bottom: 20px;
}
h1 {
  font-size: 16px;
}
.container .favourite {
  border: 1px solid red;
}

h2 {
  display: inline;
}