body {
    background: white;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #root {
    max-width: 700px;
    margin: auto;
  }
  
  header {
    display: flex;
    justify-content: center;
    margin: 30px;
  }
  
  .App {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .element {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  input {
    margin: 10px;
    padding: 10px;
    width: 200px;
    outline: 0;
    border: 1px solid black;
    border-radius: 3px;
    transition: 0.3s;
    color: black;
  }
  
  ::placeholder {
    color: red;
  }
  
  input:focus {
    box-shadow: 0 0px 5px 1px rgb(223, 0, 0);
  }
  
  button,
  .btn {
    margin: 10px;
    padding: 20px;
    width: 200px;
    border: 0;
    outline: 0;
    border-radius: 20px/50%;
    background: white;
    color: black;
    border: 1px solid currentColor;
    cursor: pointer;
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
    transition: 0.3s;
  }
  
  button:hover,
  .btn:hover {
    background: #000305;
    color: white;
  }
  
  img {
    display: block;
    margin: 30px auto;
    width: 150;
    height: 200px;
  }
  
  h1 {
    color: black;
    text-transform: uppercase;
  }

  .result{
    color: red;
    text-transform: uppercase;
  }
  .btnSave{
    color: fuchsia;
    text-transform: uppercase;
  }